@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

.scrollbar::-webkit-scrollbar {
  width: 15px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 10vh;
  background: #7b7b7b;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2b2456;
}
}